<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="StyleSheet.css">
    <title>Hotel45-HomePage</title>
</head>

<body style="background-color: rgb(190, 190, 190);">

    <h1 style="text-align:center">Welcome to Hotel 45 booking center</h1>
    <div class="row">
        <div class="column1" style="background-color: rgb(248, 207, 71);">
            <div class="innerLeft" style="text-align:center;">
                <img src="45 Logo.png" alt="45Logo" height= "50">
                <br></br>
                <h5>Home</h5>
                <h5>Rooms</h5>
                <h5>Guests</h5>
                <h5>Book now</h5>
            </div>
        </div>
        <div class="column2" style="background-color: rgb(190, 190, 190);">
            <h5>test</h5>
            <h5>test</h5>
            <h5>test</h5>
            <h5>test</h5>
            <h5>test</h5>
            <h5>test</h5>
            <h5>test</h5>
            <h5>test</h5>
        </div>

    </div>



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</body>

</html>